<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Mis tareas</h3>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nº de tarea</th>
                <th>Descripcion</th>
                <th>Completada</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tarea of tareas">
                <th>{{tarea.id}}</th>
                <td>{{tarea.nombre}}</td>
                <td>{{tarea.completada}}</td>
                <td>
                  <button class="btn btn-sm btn-danger">Eliminar</button>
                </td>
              </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Nueva tarea</h3>
        </div>
        <div class="card-body">
          <form class="">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre de tarea">
            </div>
            <div class="mb-3 form-check">
              <label class="form-check-label">
                Completada
                <input type="checkbox" class="form-check-input">
              </label>
            </div>
            <div class="text-end">
              <button class="btn btn-success">Agregar tarea</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>